<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Maze Game</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div id="container">
        <h1 id="intro-heading">Marco Polo</h1>
        <span id="intro">A maze-type game designed specifically for visually impaired individuals, providing an immersive experience through sound navigation.</span>
        <h2 id="main-heading">MAIN MENU</h2>
        <div class="menu">
            <button class="menu-button" onclick="loadGame()">Play</button>
            <button class="menu-button">Leaderboard</button>
            <button class="menu-button">Settings</button>
        </div>
    </div>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    <script src='/static/script.js'></script>
</body>
</html>