:root {
    /* Default sizes */
    --h1-font-size: 3em; /* Example default size */
    --h2-font-size: 2em; /* Example default size */
    --button-font-size: 25px; /* Example default size */
    --p-font-size: 20px;
    --text-color: #000000; /* Default text color */
    --background-color: #FFFFFF; /* Default background color */

    --border-width: 4px;
    --border-style: solid;
    --border-color: black;

    --width: 350px;
  }
body{
    background-color: var(--background-color);
    color: var(--text-color);   
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


#container, #settings, #color-contrast-settings, #key-bind-settings {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

#font-size-settings{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

h1{
    font-size: var(--h1-font-size);
}
p{
    font-size: var(--p-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
.menu {
    margin-top: 5px;
}
.menu-button {
    background-color: var(--background-color);
    color: var(--text-color);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

    font-size: var(--button-font-size);
    font-weight: bold;
    
    width: var(--width);

    padding: 20px 40px; 
    cursor: pointer;
    margin: 15px 0; 
    display: block;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s;
    border-radius: 10px; 
}

.menu-button:hover,
.menu-button:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    border-color: yellow; 
    outline: 3px solid yellow; 
}

.font-sizes{
    display: inline-flex;
    align-items: center; /* Keeps items aligned at the same height */
    justify-content: space-around; /* Optional: Distributes space around items for separation */
    padding: 10px; /* Adds some padding inside the container */
}
.small-size, .medium-size, .large-size{
    width: 150px; /* Smaller width for the button boxes */
    height: 80px; /* Adjusts height automatically based on content, or set a specific height */
    margin: 0 10px; /* Adds horizontal margin for separation between items */
    /* Additional styling */
    text-align: center; /* Ensures text is centered */
    padding: 5px 0; /* Adds padding inside each button box */
    cursor: pointer; /* Changes cursor to pointer on hover */
}
.small-size{
    font-size: 16px;
}
.medium-size{
    font-size: 25px;
}
.large-size{
    font-size: 35px;
}

#settings{
    display:none;
}
#font-size-settings{
    display:none;
}
#color-contrast-settings{
    display:none;
}
#key-bind-settings{
    display:none;
}