:root {
    /* Default sizes */
    --h1-font-size: 7em; /* Example default size */
    --h2-font-size: 3.5em; /* Example default size */
    --button-font-size: 1.5625em; /* Example default size */
    --p-font-size: 20px;
    --text-color: #000000; /* Default text color */
    --background-color: #FFFFFF; /* Default background color */

    --border-width: 4px;
    --border-style: solid;
    --border-color: black;

    --width: 350px;
  }

* { 
    box-sizing: border-box; 
}

body{
    background-color: var(--background-color);
    color: var(--text-color);   
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#intro { 
    font-size: 2em;
    font-weight: 600;
    flex: 1; 
    align-self: stretch; 
    padding: 0 20% 0 20%;  
    word-wrap: break-word; 
    margin: 0;
    /* border: 1px solid #ccc;  */
    box-sizing: border-box; 
}

.levels-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 columns of equal width */
    gap: 10px; /* Adjusts space between buttons */
    padding: 20px; /* Adds some padding around the grid for spacing */
    justify-items: center; /* Center-aligns items horizontally */
    align-items: center; /* Center-aligns items vertically */
}

#container, #settings, #color-contrast-settings, #key-bind-settings, #level-select {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

#game-container, #level-select{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#font-size-settings, #create-user-id{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}
.level-indicator {
    margin: 0!important;
    text-align: center; 
}
h1{
    font-size: var(--h1-font-size);
}
#create-user-id-heading{
    margin-bottom:0;
}
p{
    font-size: var(--p-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
.back{
    position: absolute;
    top: 10px; /* Adjust as needed for spacing from the top */
    left: 10px; /* Adjust as needed for spacing from the left */
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--p-font-size);
}

.menu {
    margin-top: 5px;
}
.menu-button, .game-button, .levels-button {
    background-color: var(--background-color);
    color: var(--text-color);

    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);

    font-size: var(--button-font-size);
    font-weight: bold;
    
    width: var(--width);

    padding: 20px 40px; 
    cursor: pointer;
    margin: 15px 0; 
    display: block;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, outline 0.3s;
    border-radius: 30px; 
}
.game-button, .levels-button{
    width: auto!important;
}
.levels-button{
    font-size: var(--h1-font-size)!important;
}
#stopwatch, #high-score{
    width:150px!important;
}

.menu-button:hover,
.menu-button:focus,
.game-button:hover,
.game-button:focus,
.levels-button:hover,
.levels-button:focus,
.back:hover,
.back:focus {
    background-color: var(--text-color);
    color: var(--background-color);
    /* border-color: yellow; 
    outline: 3px solid yellow;  */
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%; 
}

#canvas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; /* Adjust based on actual width of the canvas */

}

.game-controls, .game-info {
    width: 30%; /* Example width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-controls button, .game-info div {
    margin: 10px 0; /* Space out buttons and info divs */
}
#gameContainer > div, #gameContainer > button {
    flex: 1!important; /* Both take equal space */
}
.arrow-keys button {
    text-align: center; /* Center arrow symbols */
    width: 10px!important; /* Explicit width for smaller buttons */
}
.horizontal-arrows{
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-arrow, .right-arrow {
    margin: 0 5px; /* Adjust spacing around left and right arrows */
}
.arrow-keys {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    margin: 0 15px; /* Spacing for the down arrow, adjust as needed */
}

.left-arrow, .right-arrow {
    margin: 0 5px; /* Adjust as necessary for spacing */
}

.down-arrow {
    margin: 0 10px; /* Adjust as necessary for spacing around the down arrow */
}

#gameCanvas {
    /* width: 800; 
    height: 800; */
    background-color: black; 
    border: solid 10px red; 
    display: none;
}
#coordinates {
    display: none;
}

input[type="text"] {
    background-color: var(--background-color);
    color: var(--text-color);

    padding: 20px 40px; 
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: 10px; 

    font-weight: bold;
    
    width: var(--width);
    cursor: text; /* Cursor to indicate editable text */
    font-size: 16px; 
}

input[type="text"] {
    background-color: var(--background-color);
    color: var(--text-color);

    padding: 20px 40px; 
    border-width: var(--border-width);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-radius: 10px; 

    font-weight: bold;
    
    width: var(--width);
    cursor: text; /* Cursor to indicate editable text */
    font-size: 16px; 
}

input[type="text"]::placeholder {
    color: var(--text-color);
}

/* Styling for when the input is focused */
input[type="text"]:focus,
input[type="text"]:hover {
    border-color: yellow; 
}

.font-sizes{
    display: inline-flex;
    align-items: center; /* Keeps items aligned at the same height */
    justify-content: space-around; 
    padding: 10px; /* Adds some padding inside the container */
}
.small-size, .medium-size, .large-size{
    width: 150px; /* Smaller width for the button boxes */
    height: 80px; /* Adjusts height automatically based on content, or set a specific height */
    margin: 0 10px; /* Adds horizontal margin for separation between items */
    /* Additional styling */
    text-align: center; /* Ensures text is centered */
    padding: 5px 0; /* Adds padding inside each button box */
    cursor: pointer; /* Changes cursor to pointer on hover */
}
.small-size{
    font-size: 16px;
}
.medium-size{
    font-size: 25px;
}
.large-size{
    font-size: 35px;
}


#settings, #font-size-settings, #color-contrast-settings,
#key-bind-settings, #game-container, #create-user-id, #level-select{
    display:none;
}
